.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh; /* Centra el contenedor en toda la pantalla */
}

.carousel-item {
  position: relative;
  display: none; /* Solo se mostrará el slide activo */
}

.carousel-item.active {
  display: block; /* Mostrar solo el slide activo */
}


.card img {
  width: 100%;
  object-fit: cover; /* Para que la imagen ocupe el área disponible */
  max-height: 250px; /* Limita el tamaño de la imagen */
}

.carousel-controls {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
}

.btn-circle {
  font-size: 1.5rem;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro */
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-circle:hover {
  background-color: rgba(0, 0, 0, 0.8); /* Fondo más oscuro al pasar el ratón */
}
