<footer class="footer sm:footer-horizontal bg-base-200 text-base-content p-10">
    <aside>
        <!-- Reemplaza el SVG con una imagen -->
        <img src="assets/logo-acceshoes.png" alt="Logo" width="200" height="200" />
        <p class="mt-4"> 
            AcceShoes
        </p>
        <p>
            © 2025 AcceShoes. Todos los derechos reservados.
        </p>
    </aside>
    <nav>
        <h6 class="footer-title">Servicios</h6>
        <a class="link link-hover">Branding</a>
        <a class="link link-hover">Design</a>
        <a class="link link-hover">Marketing</a>
        <a class="link link-hover">Advertisement</a>
    </nav>
    <nav>
        <h6 class="footer-title">Compañia</h6>
        <a class="link link-hover">About us</a>
        <a class="link link-hover">Contact</a>
        <a class="link link-hover">Jobs</a>
        <a class="link link-hover">Press kit</a>
    </nav>
    <nav>
        <h6 class="footer-title">Legal</h6>
        <a class="link link-hover">Terms of use</a>
        <a class="link link-hover">Privacy policy</a>
        <a class="link link-hover">Cookie policy</a>
    </nav>
</footer>