<div class="mt-2">
    <section class="bg-base-200 flex flex-col md:flex-row items-center justify-center px-10 py-34">
        <div class="md:w-1/2 text-center md:text-left space-y-5">
            <h1 class="text-5xl font-bold">Explora lo mejor de AcceShoes</h1>
            <p class="text-lg text-gray-600">Diseños innovadores, comodidad sin límites.</p>
            <button class="btn bg-cyan-600 text-white hover:bg-cyan-700">Ver colección</button>
        </div>
        <div class="md:w-1/2 mt-10 md:mt-0 flex justify-center">
            <img src="assets/modelo.png" alt="Banner AcceShoes" class="w-[400px] h-auto rounded-xl shadow-lg" />
        </div>
    </section>
</div>

<!-- Sección inferior para seguir navegando -->
<section class="py-20 bg-white">
    <div class="text-center">
        <h2 class="text-3xl font-bold">Nuestros productos</h2>
        <p class="mt-2 text-gray-600">Descubre nuestra colección destacada</p>
        <!-- Aquí puedes colocar un componente o cards -->
    </div>
</section>


<app-carrusel></app-carrusel>